body {
	height:100%;
	background:#EFEFEF;
}
.content {
    padding: 15px;
    background: lightsteelblue;
    border-radius: 4px;
}
.navbar button {
	margin-top:7px;
}
.table-responsive {
    background: ivory;
    padding: 5px 20px;
    border-radius:4px;
}
.input-group.small-width {
	width:200px;
}